@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a { 
  text-decoration: none;
  color:#333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/*Margin*/
.my-1 {
  margin: 1rem 0;
}

.my-3 {
  margin: 3rem 0;
}

/**/

.lead {
  font-size: 32px;
  line-height: 1.6;
}

.lead__01{
  color:#047aed;
  border-bottom: 1px solid #047aed;
}
.navbar {
  background-color: #000;
  color: #fff;
  height: 60px;
}

.navbar__container {
  margin: 0 auto;
  overflow: auto;
  padding: 0 30px;
}

.navbar__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__items {
  display: flex;
  justify-content: space-between;
}

.navbar__items a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Showcase*/

.showcase {
  height: 400px;
  background-color: #047aed;
  color: #fff;
  position: relative;
  text-align: center;
  margin-top: -10px;
}

.showcase__title {
  font-size: 20px;
}

.showcase__flex {
  justify-content: center;
    align-items: center;
    display: flex;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: white;
  color:#047aed;
  border: none;
  border-radius: 5px;
}

/* Backgrounds & colored buttons */
.bg-primary,
.button__primary {
  background-color: #047aed;
  color: #fff;
}

/* Info */

.info__flex {
  display: flex;
  align-items: center;
}

.info__component {
  display: flex;
  align-items: center;
  /*height: 100vh;*/
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  max-width: 1080px;
}

.card__group {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #E9F1FF;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(68, 48, 48, 0.2);
  padding: 20px;
  margin: 10px;
}

.image {
  border-radius: 10px;
  box-shadow: 0 12px 44px 0 rgb(0 0 0 / 20%);
  width: 500px;
  margin-right: 40px;
  cursor: zoom-in;
}

.card__title {
  margin-top: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #4D61FC;
}

.wrapper {
  padding: 70px 0 70px;
}

.footer__wrapper {
  padding: 40px 0;
  background-color: #000;
  color: white;
}

.link__items {
  font-size: 15px;
  font-weight: 300;
}

.bg_light {
  background-color: #E9F1FF;;
}

/* Tablets and under */
@media(max-width: 768px) {
  .showcase__title {
    font-size: 18px;
  }

  .flex,
  .info__flex {
    flex-direction: column;
  }
  .features, 
  .link__items {
    text-align: center;
  }

  .info__flex .image {
    margin-bottom: 40px;
    margin-right: 0;
  }

  .lead {
    font-size: 30px;
    line-height: 1.4;
    padding: 0 20px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .navbar__flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(24, 24, 24, 0.1);
  }

  .image {
    max-width: 100%;
    margin-right: 0;
  }
}